@import "customVariables";
@import "reference";

.tabs {
  min-height: 300px;
}

.dashboard-container {
    display: inline-block;
    width: 100%;
    min-height: 30%;

    .actions {
      font-size: 0.85em;
      text-align: right;
      margin-top: 25px;
      margin-bottom: -40px;

      i {
        font-size: 1.2em;
      }

      div {
        display: inline-block;
        margin: 0 5px;
      }
    }

  .contact-info {
    ul li {
      padding: 10px 5px;
      border-bottom: 1px solid #EEE;

      strong {
        display: inline-block;
        width: 120px;
      }
    }
  }

  #visits {
    padding: 10px 0;
  }

  #visits-list {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: none;

    li {
      border-bottom: 1px solid white;
      padding: 10px 10px 0px 10px;
      min-height: 55px;
      width: 180px;
      color: #666;
      background: #eee;
      padding-bottom: 5px;
      position: relative;
      @include box-shadow(inset 0px -1px 0px #BBB);

      &:last-child {
        border-bottom: none;
        @include box-shadow(none);
      }

      &:hover:not(.selected) {
        color: white;
        background: lighten($text, 15%);
        cursor: pointer;

        .visit-primary-diagnosis { 
          color: white;
        }

        .visit-date {
          border-bottom: 1px dotted white;
        }
      }

      .arrow-border, .arrow {
        display: none;
      }

      &.selected {
        background: white;
        color: $text;

        .arrow-border, .arrow {
          display: block;
        }

        .visit-date {
          border-bottom: 1px dotted #888;
        }
      }

      i {
        font-size: 1.2em;
        margin: -3px;
        padding: 0px;
      }

      .visit-date {
        display: block;
        font-size: 0.75em;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 7px;
      }

      .visit-primary-diagnosis {
        line-height: 1.3em;
        display: block;
        font-size: 0.95em;
        padding-top: 7px;
      }

      .arrow-border {
        border-color: transparent transparent transparent #bbb;
        border-style: solid;
        border-right-width: 20px;
        border-left-width: 14px;
        border-bottom-width: 16px;
        border-top-width: 16px;
        height:0;
        width:0;
        position:absolute;
        right: -34px;
        top: 23px;
      }
      
      .arrow {
        border-color: transparent transparent transparent white;
        border-style: solid;
        border-right-width: 20px;
        border-left-width: 14px;
        border-bottom-width: 16px;
        border-top-width: 16px;
        height:0;
        width:0;
        position:absolute;
        right: -33px;
        top: 23px;
      }
    }
  }

  #visit-details {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    border-top: 1px solid #ccc;
    width: 76.6%;
    margin-left: -6px;

    .visit-status {
      width: 98.4%;
      @include visit-status(#f9f9f9);
    }

    .visit-actions {
      text-align: center;
      padding: 10px 0;
      border: 1px solid #CCC;
      @include border-radius(4px);

       a {
         margin-right: 4px;
         margin-bottom: 7px;

         &:hover {
          color: white;
          text-decoration: none;
         }
       }
    }

    .ui-tabs {
      padding: 0;
    }

    h3 {
      margin-bottom: 0;
    }
  }
}

#encountersList {
  li {
    margin-bottom: 20px;
    .delete-item {
      top: 15px;
      padding: 0;
      margin: 0;
    }
  }

  .encounter-date, .encounter-details {
    display: block;
  }

  .encounter-date {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 5px;
    strong {
      margin-right: 5px;
    }

    i {
      font-size: 1.1em;
      padding: 0;
      margin: -2px;
    }
  }


  .encounter-details {
    overflow: hidden;
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid #ccc;

    li {
      display: inline-block;
      vertical-align: top;
      height: 28px;

      &>div {
        border-right: 1px solid #ccc;
        padding: 15px 10px;
        max-width: 321px;
      }

      &:first-child {
        &>div {
          padding: 10px;
        }
      }

      &:last-child {
        &>div {
          margin-left: -3px;
          border: none;
          background: #f9f9f9;
        }

        & > .details-action {
          max-width: 144px;
        }
      }
    }

    .encounter-type {
      border-left: 4px solid;

      strong {
        font-size: 1.2em;

        i {
          font-size: 1.6em;
          padding: 0;
        }

        span {
          vertical-align: super;
        }
      }
    }

    .view-details {
      background: #f9f9f9;

      .hide-details {
        display: none;
      }

     &:not(.collapsed) {
        .hide-details {
          display: inline;
        }

        .show-details {
          display: none;
        }

        .icon-caret-right {
            @include rotate(90deg); 
            @include transition-property(all);
            @include transition-duration(0.15s);
            @include transition-timing-function(ease-in-out);
        }
      }

      i {
        font-size: 1.2em;
        padding: 0;
        position: relative;
        top: 1px;
        left: -3px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}


div {
  aside {
    display: inline-block;
    vertical-align: top;
    background: white;
    width: 23%;
    text-align: left;
    margin-top: 10px;
  }
}

.collapse {
  border: none;
  position: relative;
  height: 0;
  overflow: hidden;
  background: #f9f9f9;
  @include transition-property(height);
  @include transition-duration(0.35s);
  @include transition-timing-function(ease);

  small, htmlform h3, htmlform label {
    margin-right: 10px;
    color: #666;
  }

  span, htmlform p {
    color: $highlight;
    font-size: 0.95em;
  }

  fieldset {
      border: 0;
      padding: 0;
      margin: 0;
  }

  p, htmlform fieldset {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 3px;

    &:last-of-type {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  legend, #no-calculated-bmi, #calculated-bmi-wrapper, .title, .emptyValue, .emptyValue~.units {
    display: none;
  }

  .encounter-summary-container {
    padding: 15px;
    border: 1px solid #ccc;
    min-height: 30px;
  }

  &.in {
    height: auto;
  }

  htmlform {
    h3, label {
      font-size: 0.8em;
      font-weight: normal;
      display: inline-block;
      margin: 0;
    }

    p {
      display: block;

      span {
        font-size: 1em;
      }

      span.value {
        &:not(:first-of-type):before {
          content: ", ";
        }
      }

      span.emptyValue~span.value {
        &:before {
          content: "";
        }
      }
    }

    strong {
      display: block;
      padding: 10px;
      border-top: 1px solid #ccc;
    }

    fieldset h3~p {
      display: inline-block;
    }

    .left {
      float: none;
      border: none;
    }
  }
}