@import "colors";

.task {
  display: block;
  text-align: center;
  
  img {
    margin: auto;
    vertical-align: middle;
  }
}

#tasks .button {
  padding: 20px 10px;
  width: 150px;
  min-height: 90px;
  vertical-align: top;
  line-height: 1.3em;
  margin: 10px;
  text-align: center;
}