@import "../variables";
@import "../mixins";
@import "compass/css3";

body {
  font-family: $primaryFont, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  max-width: 1000px;
  margin: 10px auto;
  background: $bodyBackground;
  color: $text;
  font-size: 16px;
}

#body-wrapper {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  @include border-radius(5px);
}

table {
  margin: 0 auto;
}

i {
  font-size: 4em;
  padding: 0.2em;

  &.link {
    font-size: 0.7em;
  }
  
  &.small {
    font-size: 1.2em;
  }
  
  &.medium {
    font-size: 2em;
  }
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

ol {
  display: inline-block;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  border-bottom: 1px solid $white;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: lighten($link, 10%);
    text-decoration: underline;
  }

  &:visited, &.visited {
    color: $link;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $highlight;
  clear: both;
  margin: 10px 0;
}

h1 {
  font-size: 1.5em;
  margin: 10px 0 20px 0;
}

h2 {
  font-size: 1.3em;
  color: lighten($highlight, 15%);

  em {
    font-size: 0.7em;
    color: lighten($highlight, 30%);
    display: block;
  }
}

h3 {
  font-size: 1.2em;

}

h4 {
  font-size: 1.2em;
  color: lighten($highlight, 15%);
}

h5 {
  font-size: 1.17em;
}

h6 {
  font-size: 1.13em;
  color: lighten($highlight, 15%);
}

p {
  margin: 0;
}

strong {
  font-family: $primaryBoldFont;
  font-weight: normal;
}

em {
  font-family: $primaryItalicFont;
  font-weight: normal;
  font-style: normal;
}

form {
  overflow: hidden;

  input, select, textarea, ul.select {
    min-width: 80%;
    color: $text;
    display: block;
    padding: 5px 10px;
    margin: 0;
    margin-top: 1%;
    background-color: #FFF;
    border: 1px solid #DDD;

    &:focus {
      outline: none;
      background: $focus;
    }
  }

  select {
    min-width: 200px;
  }

  select[disabled] {
    background: #EEE;
    border: #CCC 1px solid;
    color: #CCC;
  }

  ul.select {
    margin-top: 0;
  }

  fieldset {
    border: 1px solid #EEE;
    display: inline-block;
    padding: 20px;
    min-width: 60%;

    legend {
      text-align: left;
      padding: 0 10px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 8px;
  }

  p {
    text-align: left;
    margin-bottom: 15px;

    strong {
      display: block;
      text-align: left;
      clear: both;
    }

    &.radio-btn {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 20px 0;
      input {
        display: inline-block;
      }
      label {
        display: inline-block;
        margin: 0;
      }
    }
  }

  input[type="checkbox"], input[type="radio"] {
    min-width: 0;
    margin: 2px 5px;
    float: left;
  }

  input[type="checkbox"] {
    @include check-box;
  }
}

ul.select {
  text-align: left;
  margin: 0 20px;
  padding: 0;
  font-size: 0.8em;

  li {
    margin: 0 10px;
    text-align: left;
    display: inline-block;
    width: 250px;
    padding: 5px;
    color: $link;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;

    &:hover {
      background-color: $link;
      color: white;
      cursor: pointer;
    }

    &.selected {
      background-color: $link;
      color: white;
      border-color: transparent;
    }
  }
}

table {
  width: 100%;
  font-size: 0.9em;

  th, td {
    padding: 5px 10px;
    border: 1px solid #DDD;
  }
  
  tr {
    border: 1px solid $bodyBackground;
  }
  
  tr:nth-child(even) {
    background: $focus;
  }
  
  tr:nth-child(odd) {
    background: white;
  }
  
  tr.hover{
    background: lighten(desaturate($link, 20%), 20%);
    color: white;
    cursor: pointer;
  }
  
  tr.selected{
    background: $link;
    color: white;
  }
  
  thead th {
    border-bottom: 2px solid #DDD;
    background: $bodyBackground;
    width: auto;
    word-break: break-all;
  }
}

.title {
  font-family: $primaryBoldFont;
}

.body {
  font-weight: 400;
}

.small {
  font-family: $primaryLightFont;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}