<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>
		${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>PIH</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>
		https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>${openMRSVersion}</require_version>

	<require_modules>
		<require_module version="1.7">
			org.openmrs.module.uiframework
		</require_module>
	</require_modules>

	<activator>
		${project.parent.groupId}.${project.parent.artifactId}.MirebalaisHospitalActivator
	</activator>

	<mappingFiles>
	</mappingFiles>

	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>

</module>

