<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>
        ${project.parent.groupId}.${project.parent.artifactId}
    </package>
    <author>PIH</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>
        https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
    </updateURL>

    <!--<require_version>${openMRSVersion}</require_version>-->
    <require_version>1.9.2</require_version>

    <require_modules>
        <require_module version="${pihcoreVersion}">
            org.openmrs.module.pihcore
        </require_module>
        <require_module version="${mirebalaismetadataVersion}">
            org.openmrs.module.mirebalaismetadata
        </require_module>
        <require_module version="${mirebalaisreportsVersion}">
            org.openmrs.module.mirebalaisreports
        </require_module>
        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>
        <require_module version="${appframeworkVersion}">
            org.openmrs.module.appframework
        </require_module>
        <require_module version="${metadatasharingVersion}">
            org.openmrs.module.metadatasharing
        </require_module>
        <require_module version="${htmlformentryVersion}">
            org.openmrs.module.htmlformentry
        </require_module>
        <require_module version="${htmlformentryuiVersion}">
            org.openmrs.module.htmlformentryui
        </require_module>
        <require_module version="${calculationVersion}">
            org.openmrs.calculation
        </require_module>
        <require_module version="${reportingVersion}">
            org.openmrs.module.reporting
        </require_module>
        <require_module version="${idgenVersion}">
            org.openmrs.module.idgen
        </require_module>
        <require_module version="${registrationappVersion}">
            org.openmrs.module.registrationapp
        </require_module>
        <require_module version="${registrationcoreVersion}">
            org.openmrs.module.registrationcore
        </require_module>
        <require_module version="${namephoneticsVersion}">
            org.openmrs.module.namephonetics
        </require_module>
        <require_module version="${pacsintegrationVersion}">
            org.openmrs.module.pacsintegration
        </require_module>
        <require_module version="${providermanagementVersion}">
            org.openmrs.module.providermanagement
        </require_module>
        <require_module version="${importpatientfromwsVersion}">
            org.openmrs.module.importpatientfromws
        </require_module>
        <require_module version="${uicommonsVersion}">
            org.openmrs.module.uicommons
        </require_module>
        <require_module version="${radiologyappVersion}">
            org.openmrs.module.radiologyapp
        </require_module>
        <require_module version="${coreappsVersion}">
            org.openmrs.module.coreapps
        </require_module>
        <require_module version="${dispensingVersion}">
            org.openmrs.module.dispensing
        </require_module>
        <require_module version="${appointmentschedulingVersion}">
            org.openmrs.module.appointmentscheduling
        </require_module>
        <require_module version="${appointmentschedulinguiVersion}">
            org.openmrs.module.appointmentschedulingui
        </require_module>
        <require_module version="${webservicesRestVersion}">
            org.openmrs.module.webservices.rest
        </require_module>
        <require_module version="${reportingrestVersion}">
            org.openmrs.module.reportingrest
        </require_module>
        <require_module version="${paperrecordVersion}">
            org.openmrs.module.paperrecord
        </require_module>
        <require_module version="${printerVersion}">
            org.openmrs.module.printer
        </require_module>
        <require_module version="${addresshierarchyVersion}">
            org.openmrs.module.addresshierarchy
        </require_module>
        <require_module version="${metadatadeployVersion}">
            org.openmrs.module.metadatadeploy
        </require_module>
        <require_module version="${edtriageappVersion}">
            org.openmrs.module.edtriageapp
        </require_module>
      <!--  <require_module version="${pihfingerprintsModule}">
            org.openmrs.module.pihfingerprints
        </require_module>-->
    </require_modules>

    <activator>
        ${project.parent.groupId}.${project.parent.artifactId}.MirebalaisHospitalActivator
    </activator>

    <mappingFiles>
    </mappingFiles>

    <!-- All message codes should start with ${project.parent.artifactId}. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>ht</lang>
        <file>messages_ht.properties</file>
    </messages>

    <!-- Global Properties -->
    <globalProperty>
        <property>mirebalais.installedAddressHierarchyVersion</property>
        <defaultValue>0</defaultValue>
        <description>
            Used to track what version of the address hierarchy is installed on the system
        </description>
    </globalProperty>

    <globalProperty>
        <property>mirebalais.checkIn.paymentAmounts</property>
        <defaultValue>50,0</defaultValue>
        <decscription>
            A comma-delimited list of numeric values, which represent the available payment amounts to collect during check-in
        </decscription>
    </globalProperty>

    <globalProperty>
        <property>mirebalais.checkIn.paymentAmountLabels</property>
        <defaultValue>50,Exempt</defaultValue>
        <description>
            A comma-delimited list of text values, which represent the display labels for the payment amounts to collect during check-in
        </description>
    </globalProperty>

    <globalProperty>
        <property>mirebalais.checkIn.paymentAmountDefault</property>
        <defaultValue>50</defaultValue>
        <description>
            The value within the available payment amounts that should be the default value
        </description>
    </globalProperty>

    <globalProperty>
        <property>order.nextRadiologyOrderNumberSeed</property>
        <defaultValue>1</defaultValue>
        <description>
            Seed used for generating radiology order numbers
        </description>
    </globalProperty>

</module>

