Source: pihemr
Section: unknown
Priority: extra
Maintainer: PIH <medinfo@pih.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://github.com/PIH
#Vcs-Git: git://git.debian.org/collab-maint/pihemr.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pihemr.git;a=summary

Package: pihemr
Architecture: all
Depends: ${misc:Depends}
Description: Implementation of OpenMRS for Partners In Health
 This package install the OpenMRS war file and the necessary
 modules that compose the standard PIH implementation. It also
 install configurations files necessary to run the server.