/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load path: /Users/djazayeri/Documents/git-repositories/openmrs-module-mirebalais/omod/src/main/webapp/scss
        on line 1 of /Users/djazayeri/Documents/git-repositories/openmrs-module-mirebalais/omod/src/main/webapp/scss/base.scss

1: @import "compass/reset";
2: 
3: h1 {
4:   margin: 40px 0px 20px 0px;
5:   font-size: 2em;
6: }

Backtrace:
/Users/djazayeri/Documents/git-repositories/openmrs-module-mirebalais/omod/src/main/webapp/scss/base.scss:1
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/import_node.rb:64:in `import'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/import_node.rb:25:in `imported_file'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:149:in `visit_import'
org/jruby/RubyKernel.java:2080:in `send'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `visit_children'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
org/jruby/RubyKernel.java:2080:in `send'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
org/jruby/RubyKernel.java:2080:in `send'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/tree/root_node.rb:20:in `render'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/engine.rb:299:in `_render'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/engine.rb:246:in `render'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:202:in `update_stylesheets'
org/jruby/RubyArray.java:1615:in `each'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:298:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/listen-0.4.2/lib/listen/multi_listener.rb:86:in `on_change'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/listen-0.4.2/lib/listen/multi_listener.rb:95:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/listen-0.4.2/lib/listen/adapters/polling.rb:55:in `poll'
file:/Users/djazayeri/.m2/repository/org/jasig/maven/sass-maven-plugin/1.0.0/sass-maven-plugin-1.0.0.jar!/gems/listen-0.4.2/lib/listen/adapters/polling.rb:31:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load path: /Users/djazayeri/Documents/git-repositories/openmrs-module-mirebalais/omod/src/main/webapp/scss\A         on line 1 of /Users/djazayeri/Documents/git-repositories/openmrs-module-mirebalais/omod/src/main/webapp/scss/base.scss\A \A 1: @import \"compass/reset\";\A 2: \A 3: h1 {\A 4:   margin: 40px 0px 20px 0px;\A 5:   font-size: 2em;\A 6: }"; }
