/* line 17, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../../compass/sass/base.scss */
body {
  font-family: "helvetica";
}

/* line 7, ../../../compass/sass/base.scss */
h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

/* line 11, ../../../compass/sass/base.scss */
em, i {
  font-style: italic;
}

/* line 15, ../../../compass/sass/base.scss */
h1 {
  margin: 40px 0px 20px 0px;
  font-size: 1.7em;
}

/* line 20, ../../../compass/sass/base.scss */
h2 {
  font-size: 1.5em;
}

/* line 24, ../../../compass/sass/base.scss */
h3 {
  font-size: 1.2em;
}

/* line 28, ../../../compass/sass/base.scss */
li ul, li ol {
  margin: 0 1.5em;
}

/* line 32, ../../../compass/sass/base.scss */
ul, ol {
  margin: 0 1.5em 1.5em 1.5em;
}

/* line 36, ../../../compass/sass/base.scss */
ul {
  list-style-type: disc;
}

/* line 40, ../../../compass/sass/base.scss */
ol {
  list-style-type: decimal;
}
/* line 42, ../../../compass/sass/base.scss */
ol ol {
  list-style: upper-alpha;
}
/* line 44, ../../../compass/sass/base.scss */
ol ol ol {
  list-style: lower-roman;
}
/* line 46, ../../../compass/sass/base.scss */
ol ol ol ol {
  list-style: lower-alpha;
}
