/**

 */

header {
    background: linear-gradient(top, #003466 50%, #BF0002 50%);
    background: -moz-linear-gradient(top, #003466 50%, #BF0002 50%);
    background: -webkit-linear-gradient(top, #003466 50%, #BF0002 50%);
    background: -o-linear-gradient(top, #003466 50%, #BF0002 50%);
    background: -ms-linear-gradient(top, #003466 50%, #BF0002 50%);
}

.sub-form, .sub-form fieldset {
    font-size: 14px;
    padding: 0;
}

span.obs-field > select {
    min-width: 0;
}

.mh-intervention {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.list-inline label, .list-inline input[type="radio"], .list-inline span {
    display: inline-block;
    float: none;
}

.list-inline label:first-child {
    width: 220px;
}

span.symptom-present {
    float: right;
}

.ep-exposure-row span, .ep-exposure-row label {
    display: inline-block;
}

.ep-exposure-row span:first-child label:first-child, .complication-name {
    width: 150px;
    padding-left: 5px;
}

.ep-compexp-duration-span, .ep-compexp-duration-unit {
    padding-left: 20px;
}

.ep-exposure-duration-span label:first-child {
    width: 90px !important;
}

.ep-pif-sym-find {
    width: 50%;
}

.ep-trigger-sym-find {
    width: 65%;
}

.ep-mh-sym-find {
    width: 70%;
}

.ep-mh-section {
    display: inline-block;
    width: 100%;
}

.ep-mh-seizure-type {
    width: 40%;
    float: left;
}

.ep-mh-med-history {
    width: 60%;
    float: right;
}

.inline {
    display: inline-block;
    margin-right: 11px;
}

.icon-arrow-down::before {
    content: "\f103";
    float: right;
    right: 0;
    bottom: 20px;
    position: relative;
    font-size: 32px;
}

.icon-arrow-up::before {
    content: "\f102";
    float: right;
    right: 0;
    bottom: 20px;
    position: relative;
    font-size: 32px;
}

#mh-epilepsy-section legend {
    font-weight: bold;
}

#mh-epilepsy-section fieldset {
    border: 1px solid #e5e1e1;
    padding-bottom: 5px;
}

.first-label-inline label, .first-label-inline input[type="text"] {
    display: inline-block;
}

span.tb-symptom-name {
    width: 30%;
    display: inline-block;
}

.referral-community {
    width: 45%;
    float: left;
}

.referral-internal {
    width: 45%;
    float: right;
}