/* line 3, ../../../compass/sass/login.scss */
h1, h2 {
  color: #621b4b;
}

/* line 7, ../../../compass/sass/login.scss */
#pih-logo {
  width: 470px;
}

/* line 11, ../../../compass/sass/login.scss */
#welcome-description {
  font-size: 1.2em;
  color: #9fa615;
  margin-bottom: 1em;
}

/* line 17, ../../../compass/sass/login.scss */
#login-button {
  background: #9fa615;
  padding: 4px 20px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  float: right;
}

/* line 26, ../../../compass/sass/login.scss */
#cannot-login {
  clear: both;
}
/* line 29, ../../../compass/sass/login.scss */
#cannot-login a {
  text-decoration: none;
  color: #9fa615;
}

/* line 35, ../../../compass/sass/login.scss */
#this-is-a-test-compass {
  color: aquamarine;
}
