/* line 17, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../../compass/sass/base.scss */
body {
  font-family: "helvetica";
}

/* line 7, ../../../compass/sass/base.scss */
h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

/* line 11, ../../../compass/sass/base.scss */
em, i {
  font-style: italic;
}

/* line 15, ../../../compass/sass/base.scss */
h1 {
  margin: 40px 0px 20px 0px;
  font-size: 1.7em;
}

/* line 20, ../../../compass/sass/base.scss */
h2 {
  font-size: 1.5em;
}

/* line 24, ../../../compass/sass/base.scss */
h3 {
  font-size: 1.2em;
}

/* line 28, ../../../compass/sass/base.scss */
li ul, li ol {
  margin: 0 1.5em;
}

/* line 32, ../../../compass/sass/base.scss */
ul, ol {
  margin: 0 1.5em 1.5em 1.5em;
}

/* line 36, ../../../compass/sass/base.scss */
ul {
  list-style-type: disc;
}

/* line 40, ../../../compass/sass/base.scss */
ol {
  list-style-type: decimal;
}
/* line 42, ../../../compass/sass/base.scss */
ol ol {
  list-style: upper-alpha;
}
/* line 44, ../../../compass/sass/base.scss */
ol ol ol {
  list-style: lower-roman;
}
/* line 46, ../../../compass/sass/base.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 4, ../../../compass/sass/mirebalais.scss */
.standard-vertical-form {
  border-radius: 5px;
  background-color: #eaebf0;
  padding: 1em;
  display: table;
}
/* line 10, ../../../compass/sass/mixins.scss */
.standard-vertical-form label {
  display: block;
  margin: 1.5em 0 0.5em 0;
  color: #872175;
}
/* line 18, ../../../compass/sass/mixins.scss */
.standard-vertical-form label {
  font-size: 1.2em;
}
/* line 22, ../../../compass/sass/mixins.scss */
.standard-vertical-form input[type=text], .standard-vertical-form input[type=password] {
  font-size: 1.2em;
  height: 1.4em;
  width: 250px;
  border: 2px solid #b9b299;
  display: block;
}
/* line 30, ../../../compass/sass/mixins.scss */
.standard-vertical-form select {
  font-size: 1.2em;
  display: block;
}

/* line 11, ../../../compass/sass/mirebalais.scss */
body {
  max-width: 1000px;
  margin: 10px auto;
}

/* line 16, ../../../compass/sass/mirebalais.scss */
#body-wrapper {
  padding: 10px;
  background-color: #fbfbfb;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  overflow: auto;
}

/* line 24, ../../../compass/sass/mirebalais.scss */
a, a:visited {
  color: #2bbed8;
  text-decoration: none;
}

/* line 29, ../../../compass/sass/mirebalais.scss */
#header {
  margin-bottom: 20px;
}

/* line 33, ../../../compass/sass/mirebalais.scss */
#user-info {
  color: #872175;
  float: right;
}
/* line 36, ../../../compass/sass/mirebalais.scss */
#user-info a {
  margin-left: 30px;
}

/* line 41, ../../../compass/sass/mirebalais.scss */
hr.separator {
  width: 60%;
}

/* line 45, ../../../compass/sass/mirebalais.scss */
#apps {
  text-align: center;
}
/* line 48, ../../../compass/sass/mirebalais.scss */
#apps .app:hover {
  background-color: #eaebf0;
  border-radius: 5px;
}
/* line 51, ../../../compass/sass/mirebalais.scss */
#apps .app:hover a {
  font-weight: bold;
}
/* line 56, ../../../compass/sass/mirebalais.scss */
#apps .app {
  display: inline-block;
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 200px;
}
/* line 63, ../../../compass/sass/mirebalais.scss */
#apps .app img {
  display: block;
  margin: auto;
}
/* line 68, ../../../compass/sass/mirebalais.scss */
#apps .app a {
  color: #606060;
}

/* line 74, ../../../compass/sass/mirebalais.scss */
#search-field {
  display: block;
  margin: 75px auto;
  font-size: 20px;
  width: 400px;
  padding: 5px 20px;
  border-radius: 7px;
  background: url(../images/scan_barcode.png) no-repeat right center;
  background-size: 30px;
  background-origin: content-box;
  background-color: white;
}
